.textoEnriquecido  {
	color:#666;
	font-size:12px;
	h2 { margin-top:30px; }
	h2, h3, h4, h5, h6 {
		margin-bottom:12px;
		font-family:$openSansLight;
	}
	h2 {
		font-size:26px;
	}
	h3 {
		font-size:13px;
	}
	h4, h5, h6 {
		font-size:12px;
	}
	p {
		margin-bottom:12px;
		line-height:13px;
	}
	ul {
		padding:10px;
		list-style:disc;
	}
	ol {
		padding:10px;
		list-style:decimal;
	}
	li {
		margin-left:10px;
		margin-bottom:15px;
	}
}

