	/**** --- Estructura --- *****/
	
html {  text-align: center; background: none   }	
body { width: auto; margin: 0; background: #fff }
#wrapper {  margin:0 auto; text-align: left; 0     }

.name { display: block; margin-bottom: 5px; font-style:italic; color:#b1b1b1; font-size:11px }
.hotel { display: block; margin: 0 auto 18px;}

#img { float: left; position: relative; width: 403px; margin-left: 3px;   }
	#img img { border:1px solid #fff; -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
	
	#img ul {  margin: 0; padding: 0; list-style: none }
		#img li { display: inline-block; vertical-align: top; margin-right: 2px;  }
			#img li img { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor:pointer;  }

#content { float: right; width: 430px; background: none; min-height: inherit }
	#content.wide { float: none; width: auto }
	#content h1, #content h2 { margin-bottom: 16px; font:normal 17px "RotisSansSerifExtraBold"; color:#073853;  }
	#content h2 { font-size: 14px }
	

span.btn { display: block; text-align: center; margin-top: 100px }
	
.clearFix:after, #wrapper:after  { clear: both; display: block; height: 0; visibility: hidden; content: "." }


.jcarousel-container {position: absolute !important; bottom:12px; left:0 }

.jcarousel-container-horizontal { width: 100%; }
.jcarousel-clip { overflow: hidden; }
.jcarousel-clip-horizontal { width:  362px; height: 50px; margin:0 auto; }
.jcarousel-item { width: 50px; height: 50px; margin-right: 2px }
.jcarousel-next-horizontal { position: absolute; top:12px; right: 7px; width: 9px; height: 28px; cursor: pointer; background: transparent url(../img/next-horizontal.png) no-repeat 0 0; }
.jcarousel-prev-horizontal { position: absolute; top:12px; left: 5px; width: 9px; height: 28px; cursor: pointer; background: transparent url(../img/prev-horizontal.png) no-repeat 0 0; }

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active,
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active { cursor: default; background-position: -96px 0; }